@media(max-width:1280px), (min-width:1023px) {

    .full-container {
        margin: 25px auto;
    }

    .top-section {
        top: 25px;
    }

    .faiz-profile-container {
        padding: 25px;
    }

    header ul li a {
        width: 40px;
        height: 40px;
        font-size: .9rem;
    }

    .myfaiz-profile-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 10px var(--main-color);
    }

    .profile-socialmedia a {
        width: 34px;
        height: 35px;
    }

    .profile-text {
        margin-top: 20px;
    }

    .faiz-profile-content {
        height: 50px;
    }

    #about-us h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) and (max-width: 1150px) {
    .project-container-about {
        grid-gap: 25px;
    }

    .project-container-box span {
        font-size: 2.5rem;
    }

    .skill-box {
        padding: 15px;
    }

    .skill-box-percentage {
        font-size: .6rem;
    }

    .skill-box-content span {
        font-size: .8rem;
        font-weight: 700;
    }

    .skill-box-bar {
        margin-top: 10px;
    }

    .service-box {
        padding: 25px;
    }

    .service-box-details {
        line-height: 1.4;
    }

    .section-container {
        padding: 40px;
    }

    .plan-name {
        font-size: .6rem;
        padding: 5px 5px;
    }

    .plan-box .price {
        font-size: 2rem;
    }

    .plan-box a {
        padding: 10px 10px;
        font-size: .75rem;
    }

    .plan-features {
        grid-gap: 15px;
    }
}

@media(max-width:1023px) {
    .full-container {
        grid-template-columns: 1fr;
    }

    .top-section {
        grid-template-columns: 1fr;
        position: static;
    }

    .myfaiz-profile-image {
        min-height: 500px;
    }

    nav {
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-gap: 10px;
        align-items: baseline;
        max-width: 600px;
        margin: auto;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: auto;
        padding: 5px;
        box-shadow: 2px 2px 30px rgba(235, 235, 235, .12);
    }

    nav ul::-webkit-scrollbar {
        display: none;
    }

    header nav ul li a::after,
    header nav ul li a::before {
        display: none;
    }

    .dark-light-btn {
        width: 60px;
        height: 60px;
        box-shadow: 2px 2px 30px var(--border-color);
    }
}

@media(max-width:790px) {
    .project-container-about {
        grid-template-columns: 1fr 1fr;

    }

    .skill-box-container,
    .service-container,
    .plan-container,
    .project-container,
    .edu-work-container,
    .contact-box-container {
        grid-template-columns: 1fr;
    }

    .contact-box-location {
        grid-column: 1/2;
    }
}

@media(max-width:520px) {
    .full-container {
        margin: 20px auto;
    }

    .project-container-about {
        grid-template-columns: 1fr;
    }

    .myfaiz-profile-image {
        min-height: auto;
    }

    .faiz-profile-container {
        padding: 30px;
    }

    .section-container,
    #about-us {
        padding: 30px 20px;
    }

    #about-us h3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #about-us h3 span {
        min-height: 34px;
    }

    #about-us h1,
    #about-us h1 span {
        font-size: 2rem;
    }
}

@media(max-width:450px) {
    .plan-name {
        padding: 5px;
        font-size: .6rem;
        font-weight: 700;
    }

    header ul li a {
        width: 40px;
        height: 40px;
        font-family: 1.03rem;
    }

    header ul {
        grid-gap: 0px;
    }

    nav {
        grid-template-columns: 60px 70%;
        align-items: center;
        justify-content: center;
    }   

        nav ul {
            flex-wrap: wrap;
        }

        .profile-text h1 {
            font-size: 1.6rem;
        }

        .faiz-profile {
            border-radius: 30px;
        }

        .section-heading h3 {
            font-size: 1.6rem;
        }

        .section-heading {
            align-items: center;
            text-align: center;
        }

        #about-us {
            border-radius: 30px 30px 0px 0px;
        }

    }